{%extends 'base.html'%}

{% block content %}
{{block.super}}


<div class="container-fluid"
  style="background-image: url(https://images.unsplash.com/photo-1498049860654-af1a5c566876?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mjl8fG9mZmljZXxlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=500&q=60),linear-gradient(330deg, rgba(0, 21, 34, 0.87) 0%, rgba(52, 37, 54, 0.85) 100%); background-blend-mode: overlay; height: 452px; background-repeat:no-repeat; background-position: top; background-size: cover; background-position: center; margin-bottom: 4%; ">
  <div class="container header text-center">
    <div class="logo" id="homelogo">
      <img src="https://images.unsplash.com/photo-1571624436279-b272aff752b5?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Nnx8b2ZmaWNlfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="re-7-font"
        border="0" style="padding: 5%;" class="img-fluid">
      <h2 style="font-family: 'Alegreya Sans SC', sans-serif; color: #fff;" id="hm_h">Get updates from your office</h2>
      <h1 style="font-family: 'Alegreya Sans SC', sans-serif; color: #fff;" id="hm_h">A Private Network for Your
        Company. </h1>
    </div>

  </div>


</div>

<div class="container text-center">
  <h1 style="font-family: 'Alegreya Sans SC', sans-serif;">Departments</h1>

  <!-- Looping through images   -->


  <div class="row">


    {% for department in departments %}
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <div class="portfolio-wrap ">
        <div class="portfolio-wrap hovereffect">
          <a href="{%url 'office' department.id%}" style="width:100%">
            <img src="{{department.director_pic.cdn_url}}" href="" class="img-fluid" alt="Image">
            <div class="overlay">
              <div class="text">{{ department.department_name }}</div>
            </div>
          </a>

        </div>
      </div>
    </div>
    <!-- Modal -->

    {% empty %}
  </div>


  <div class="row">
    <h2 class="text-center">No such department</h2>
  </div>
  {% endfor %}

  <!-- Image details modal -->



</div>



{% endblock %}