{%extends 'base.html'%}
{% load static%}

{% block content %}
{{block.super}}


<div class="container-fluid"
  style="background-image: url({{department.director_pic.cdn_url}}),linear-gradient(330deg, rgba(0, 21, 34, 0.57) 0%, rgba(52, 37, 54, 0.55) 100%); background-blend-mode:overlay , height: 500px , background-repeat:no-repeat; background-position:top , background-size:cover , background-position:center, margin-bottom:4,%">
  <div class="container header text-center">
    <div class="logo" style="padding-top: 10%;">
      
      <h2 style="font-family: 'Cinzel Decorative', cursive; color: #fff; font-size: 75px;" class="img-fluid"
        id="n_name">
        {{ department.department_name }}</h2>
      <h2 style="font-family: 'Alatsi', sans-serif; color: #fff;"> <img src="{%static 'images/icons8-marker-25.png'%}"
          alt="" class="img-fluid" style="padding-bottom: 10px;"> {{department.department_unit}}</h2>
      <div class="text-white">
        {% for member in department.employees_count.all%}
        <p>{{member.username}}</p>
        {%endfor%}
      </div>
      <a href="{%url 'join' department.id%}"
        class="btn btn-dark rounded rounded-pill rounded-pill"><strong>Join</strong></a>
    </div>

  </div>
  <div class="row pt-5 c_items text-center">
    <div class="col-md-4">
      <!-- <img src="{%static 'images/icons8-police-96 (1).png'%}" alt="Local Police Contact" class="item img-fluid"> -->
      <p style="font-family: 'Alatsi', sans-serif; color: black;">Office contact: {{ department.office_contact }}</p>
    </div>
    <div class="col-md-4"> </div>
    <div class="col-md-4">
      <!-- <img src="{%static 'images/icons8-hospital-sign-96 (1).png'%}" alt="Local Health Department Contact" -->
        <!-- class="img-fluid"> -->
      <p style="font-family: 'Alatsi', sans-serif; color: black;">Director contact: {{ department.director_contact }}</p>
    </div>
    
  </div>


</div>
<div class="container">
  <div class="container article-content">
    <h1 style="font-family: 'Alegreya Sans SC', sans-serif;" class="text-center">Updates</h1>
    <!-- {%for bs in department.posts.all%}
    {% autoescape on %} -->
    {%if posts%}
            {%for post in posts%}
            <div class="jumbotron">
            <strong>{{post.post_user}}: </strong> {{post.description}}
            {%endfor%}
            {%else%}
            <p><b>No events posted by {{user.username}} yet!</b></p>
            {%endif%}
          </div>
    <!-- <div class="row" id="article-row">
      <div class="col-md-5">
        <img class="fadeInUp details img-fluid" src="{{bs.bs_pic.cdn_url}}" width="100%">
      </div>

      <div class="col-md-7">
        <p><strong>{{bs.bs_name}}</strong></p>
        <hr>
        <p>{{bs.about | safe}}</p>

        <div class="animated fadeInUp details">
          <p class="font-weight-normal">by <em>{{bs.bs_user}} </em></p>


          <p>{{department.department_unit}}</p>

          <p class="font-weight-normal">Contact: <em>{{bs.bs_email}} </em></p>



        </div>

      </div>

    </div>
    {% endautoescape %} -->

    {% empty %}

    <div class="row">
      <h2 class="text-center">No Updates from your office</h2>
    </div>
    {%endfor%}
  </div>
</div>

{% endblock %}
